---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main>
		<div style="display: flex; align-items: center;">
			<p>
			  o/ My main site is <a href="https://moosyu.github.io/">moosyu.github.io</a> hmu over there
			</p>
			<img src="/emoticon_001.png" alt="Description of the image" style="margin-left: 5px; width: 16px;"/>
		</div>
        <p>
            Fun? facts: I'm 16, live in New Zealand, use arch (btw), and I spend most of my time reading comics or listening to music (usually both though).
        </p>
	</main>
</Layout>