---
import Layout from '../layouts/Layout.astro';
const messages = [
    "And the heat goes on!",
    "I remember you was conflicted.",
    "Went to Six Flags, six fags came up And said Ayo! Can we get a pic? I said no.",
    "If my manager insults me again I will be assaulting him.",
    "Tryna strike a chord and it's probably A-Minor.",
    "Teachin' bitches how to swim!",
	"When I tell you your pussy is holy, I want you to slap me then kiss me!",
];

const getRandomText = () => {
    return messages[Math.floor(Math.random() * messages.length)];
};

const randomText = getRandomText(); // this isnt random on every page load, its random on every build

const currentTime = new Date().toLocaleString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
  hour: "numeric",
  minute: "numeric",
  second: "numeric",
});
---

<Layout title="Home">
	<main>
		<p>The offical homepage of Google.</p>
		<p>Quote of the build: {randomText}</p>
        <p>This site was last build on: {currentTime} (NZDT)</p>
        <p transition:persist id="views"></p>
	</main>
</Layout>

<script>
(() => {
  fetch(`https://poyoweb.me/api/websitedata?domain=google.poyoweb.me`).then(request => request.json()).then(json => {
      document.getElementById("views").textContent = `View count: ${json.views}`;
    }).catch(error => console.error(error));
})();
</script>