---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Links">
	<main>
        <p>Some things that proved helpful for making this website:</p>
        <a href="https://poyoweb.poyo.study/">Poyoweb - The webhost of this site.</a>
        <br>
        <a href="https://astro.build/">Astro - Framework I used to create this site. A bit overkill but islands are awesome.</a>
        <br>
        <a href="https://www.wizard101.com/">Wizard101 - I stole the emojis from here.</a>
        <br>
        <a href="https://github.com/ayu-theme/ayu-colors/">Ayu Colors - The colourscheme I'm using.</a>
        <br>
        <p>Webrings:</p>
        <div style="width:104px">
                <a href="https://peanits.lol/webrings/musicring/index.php">
                <img src="https://peanits.lol/webrings/musicring/assets/button.gif"></a>
                <a href="https://peanits.lol/webrings/musicring/next.php?slug=google">next</a>
                <a href="https://peanits.lol/webrings/musicring/prev.php?slug=google">prev</a>
        </div>
	</main>
</Layout>